


canvas {
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    border-left: dotted 5px black;
    border-right: dotted 5px black;
    cursor: grab;
    margin-top:2em;
    margin-left: 5px;
}