@font-face
{
    font-family: "Blood";
    src: url(fonts/Getronde-51qev.otf)
        format('opentype');
    font-style:oblique; 
    font-weight: bolder;
}


.blackBox button
{
    background-color: black;
    width:100%;
}
.blackBox button
{
    span:0;
    margin:0;
    border:hidden;
    border-radius: 0;
    cursor:grab;
    color:rgb(10,10,10);
    background: linear-gradient(rgb(0,0,0),rgb(15,0,0));
}
.bigBox
{
    height: 80em;
    width:100%;
    background: linear-gradient(rgba(255,255,255,0),black);
}
.bloodSmall
{
    margin:0;
    font-family: 'Blood', sans-serif;
    font-size: 1em;
    color:red;
}
.blood 
{
    margin:0;
    background-color: black;
    font-family: 'Blood', sans-serif;
    font-size: 10em;
    color:red;
}